<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>
            Initial Board
        </h2>

        <form class="panel-actions" ng-submit="!loading && regenerate(maxAttempts, numQueens)">
            <input ng-disabled="attemptsDisabled" type="number" ng-model="maxAttempts" placeholder="Max attempts"
                   min="0"
                   max="{{attemptsLimit}}"/>
            <input type="number" ng-model="numQueens" placeholder="Num queens"
                   disabled="disabled" min="8" max="8"/>
            <input ng-hide="loading" type="submit" class="btn btn-success" value="Regenerate"/>
            <input ng-show="loading" type="submit" class="btn btn-link" value="Generating..." disabled="disabled"/>
        </form>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <p ng-hide="queensBoard">
                    No board yet... Generate above
                </p>
                <table ng-show="queensBoard" class="queens-container">
                    <tr ng-repeat="row in queensBoard.board" class="queens-row">
                        <td ng-repeat="cell in row" class="cell" ng-click="columnClick(queensBoard, cell.col)">
                            <span class="float-text">{{cell.opportunity}}</span>
                            <img style="{{cell.queen ? 'height:20px;' : ''}}" ng-show="cell.initialQueen"
                                 src="../img/queen-outline.png"/>
                            <img style="{{cell.initialQueen ? 'height:20px;' : ''}}" ng-show="cell.queen"
                                 src="../img/queen-full.png"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-6 col-md-4">
                <h3>Activity Log</h3>
                <button class="btn btn-info" ng-show="boardStep" ng-click="boardStep(queensBoard)">Step board</button>
                <button class="btn btn-default" ng-show="boardDebug" ng-click="boardDebug(queensBoard)">Debug board
                </button>

                <p>{{queensBoard.queens}}</p>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="legend-item">
            <div class="cell">
                <img src="../img/queen-outline.png"/>
            </div>
            <span>Initial queen positions ({{queensBoard.initialH}} attacking pairs)</span>
        </div>
        <div class="legend-item" ng-class="{
             'queen-success': queensBoard.best === 0,
             'queen-excellent': queensBoard.best === 1,
             'queen-good': (queensBoard.best > 1 && queensBoard.best <= 3),
             'queen-fail': (queensBoard.best > 3)
         }">
            <div class="cell">
                <img src="../img/queen-full.png"/>
            </div>
            <span>
                Final ({{queensBoard.iterations}} tries,
                {{queensBoard.h}} attacking pairs -
                Took {{queensBoard | timespan:false}} ms
            </span>
        </div>
    </div>
</div>
