<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            {{title}}
        </h2>

        <form class="panel-actions" ng-submit="!loading && regenerate(maxAttempts, numQueens)">
            <input ng-hide="attemptsDisabled" type="number" ng-model="maxAttempts" title="Max attempts"
                   min="0"
                   max="{{attemptsLimit}}"/>
            <input type="number" ng-model="numQueens" title="Num queens" min="1" max="16"/>
            <input ng-hide="loading || evaluating" type="submit" class="btn btn-success" value="Generate"/>
            <input ng-show="loading" type="submit" class="btn btn-link" value="Generating..." disabled="disabled"/>
        </form>
    </div>

    <div class="panel-body">
        <p>{{description}}</p>

        <div>
            <div class="board-container">
                <p ng-hide="queensBoard">
                    No board yet... Generate above
                </p>
                <table ng-show="queensBoard" class="queens-container"
                       style="min-width:{{queensBoard.queens.length*60}}px;">
                    <tr ng-repeat="row in queensBoard.board" class="queens-row">
                        <td ng-repeat="cell in row" class="cell">
                            <span ng-hide="cell.queen" class="float-text">{{cell.opportunity}}</span>
                            <img style="{{cell.queen ? 'height:20px;' : ''}}" ng-show="cell.initialQueen"
                                 src="../img/queen-outline.png"/>
                            <img style="{{cell.initialQueen ? 'height:20px;' : ''}}" ng-show="cell.queen"
                                 src="../img/queen-full.png"/>
                        </td>
                    </tr>
                </table>
                <div class="col-step" ng-repeat="row in queensBoard.board">
                    <a class="btn btn-warning glyphicon glyphicon-sort" ng-click="columnClick(queensBoard, $index)"
                            ></a>
                </div>
                <br>

                <div ng-show="queensBoard">
                    <button class="btn btn-default" ng-show="boardStep" ng-click="boardStep(queensBoard)">Step</button>
                    <button class="btn btn-link" ng-show="boardDebug" ng-click="boardDebug(queensBoard)">Debug board
                    </button>
                </div>
            </div>
            <div class="info-container">

                <form ng-submit="!evaluating && evaluate(queensBoard, configurations)">
                    <a ng-hide="editConfig" class="edit-btn btn btn-default" ng-click="toggleConfig()">Edit
                        configuration</a>
                    <a ng-show="editConfig" class="edit-btn btn btn-warning"
                       ng-click="toggleConfig()">Done editing</a>

                    <input type="submit" ng-hide="evaluating || loading" class="btn btn-success" ng-show="evaluate"
                           value="Evaluate"/>
                    <input ng-show="evaluating" type="submit" class="btn btn-link" value="Evaluating..."
                           disabled="disabled"/>
                    {{(configurations && configurations.length) || '0'}} configurations
                    <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom"
                       title="{{configurationsText}}">
                    </i>

                    <a class="btn btn-link" ng-hide="evaluating" ng-click="resetBoard(queensBoard) && false">Reset
                        board
                    </a>
                </form>

                <!-- ACTIVITY LOG -->
                <div ng-hide="editConfig || !showActivityLog" class="activity-log-container"
                     style="height:{{queensBoard.queens.length*60}}px;">

                    <h3>
                        <a class="btn btn-link" ng-click="showActivityLog = !showActivityLog">
                            View Results
                        </a>
                        Activity Log
                    </h3>

                    <p ng-repeat="line in activityLog track by $index">{{line}}</p>
                </div>

                <!-- RESULTS LOG -->
                <div ng-hide="editConfig || showActivityLog" class="activity-log-container"
                     style="height:{{queensBoard.queens.length*60}}px;">

                    <h3>
                        Results
                        <a class="btn btn-link" ng-click="showActivityLog = !showActivityLog">
                            View Activity Log
                        </a>
                    </h3>

                    <table class="results-table">
                        <thead>
                        <tr>
                            <th rowspan="2">Config #</th>
                            <th rowspan="2">Side Moves</th>
                            <th rowspan="2">Restarts</th>
                            <th rowspan="2">Times</th>
                            <th colspan="3">Results</th>
                            <th colspan="4">Successful Results</th>
                            <th colspan="4">Failure Results</th>
                            <th colspan="4">H=0</th>
                            <th colspan="4">H=1</th>
                            <th colspan="4">H=2</th>
                            <th colspan="4">H=3</th>
                        </tr>
                        <tr>
                            <!-- Results Overview -->
                            <th>Best</th>
                            <th>Steps</th>
                            <th>Win Rate</th>

                            <!-- Successful Results -->
                            <th>Count</th>
                            <th>Time - min,mean,max (ms)</th>
                            <th>Tries - min,mean,max</th>

                            <!-- Failure Results -->
                            <th>Count</th>
                            <th>Time - min,mean,max (ms)</th>
                            <th>Tries - min,mean,max</th>

                            <!-- H=0 -->
                            <th>Count</th>
                            <th>Time - min,mean,max (ms)</th>
                            <th>Tries - min,mean,max</th>

                            <!-- H=1 -->
                            <th>Count</th>
                            <th>Time - min,mean,max (ms)</th>
                            <th>Tries - min,mean,max</th>

                            <!-- H=2 -->
                            <th>Count</th>
                            <th>Time - min,mean,max (ms)</th>
                            <th>Tries - min,mean,max</th>

                            <!-- H=3 -->
                            <th>Count</th>
                            <th>Time - min,mean,max (ms)</th>
                            <th>Tries - min,mean,max</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="result in results track by $index"
                            ng-class="{
                                 'result-success': result.best === 0,
                                 'result-excellent': result.best === 1,
                                 'result-good': (result.best > 1 && result.best <= 3),
                                 'result-fail': (result.best > 3)
                             }">
                            <td>{{$index+1}}</td>
                            <td>{{result.configuration.sideMovesAllowed}}</td>
                            <td>{{result.configuration.restartsAllowed}}</td>
                            <td>{{result.configuration.repeat}}</td>

                            <!-- Results Overview -->
                            <td>{{ result.best === 0 ? 'Success' : 'H=' + result.best }}</td>
                            <td>{{ result.iterations }}</td>
                            <td>{{ !result.summaryByResult.success.count ? '0%' : (100 *
                                result.summaryByResult.success.count / result.configuration.repeat).toFixed(1)
                                + '%'
                                }}
                            </td>

                            <!-- Successful Results -->
                            <td>{{result.summaryByResult.success.count || 0}}</td>
                            <td>
                                {{result.summaryByResult.success.minTime.toFixed(1) || '-'}},
                                {{result.summaryByResult.success.meanTime.toFixed(1) || '-'}},
                                {{result.summaryByResult.success.maxTime.toFixed(1) || '-'}}
                            </td>
                            <td>
                                {{result.summaryByResult.success.minIterations.toFixed(0) || '-'}},
                                {{result.summaryByResult.success.meanIterations.toFixed(0) || '-'}},
                                {{result.summaryByResult.success.maxIterations.toFixed(0) || '-'}}
                            </td>

                            <!-- Failure Results -->
                            <td>{{result.summaryByResult.failure.count || 0}}</td>
                            <td>
                                {{result.summaryByResult.failure.minTime.toFixed(1) || '-'}},
                                {{result.summaryByResult.failure.meanTime.toFixed(1) || '-'}},
                                {{result.summaryByResult.failure.maxTime.toFixed(1) || '-'}}
                            </td>
                            <td>
                                {{result.summaryByResult.failure.minIterations.toFixed(0) || '-'}},
                                {{result.summaryByResult.failure.meanIterations.toFixed(0) || '-'}},
                                {{result.summaryByResult.failure.maxIterations.toFixed(0) || '-'}}
                            </td>

                            <!-- H=0 -->
                            <td>{{result.summaryByH[0].count || 0}}</td>
                            <td>
                                {{result.summaryByH[0].minTime.toFixed(1) || '-'}},
                                {{result.summaryByH[0].meanTime.toFixed(1) || '-'}},
                                {{result.summaryByH[0].maxTime.toFixed(1) || '-'}}
                            </td>
                            <td>
                                {{result.summaryByH[0].minIterations.toFixed(0) || '-'}},
                                {{result.summaryByH[0].meanIterations.toFixed(0) || '-'}},
                                {{result.summaryByH[0].maxIterations.toFixed(0) || '-'}}
                            </td>

                            <!-- H=1 -->
                            <td>{{result.summaryByH[1].count || 0}}</td>
                            <td>
                                {{result.summaryByH[1].minTime.toFixed(1) || '-'}},
                                {{result.summaryByH[1].meanTime.toFixed(1) || '-'}},
                                {{result.summaryByH[1].maxTime.toFixed(1) || '-'}}
                            </td>
                            <td>
                                {{result.summaryByH[1].minIterations.toFixed(0) || '-'}},
                                {{result.summaryByH[1].meanIterations.toFixed(0) || '-'}},
                                {{result.summaryByH[1].maxIterations.toFixed(0) || '-'}}
                            </td>

                            <!-- H=2 -->
                            <td>{{result.summaryByH[2].count || 0}}</td>
                            <td>
                                {{result.summaryByH[2].minTime.toFixed(1) || '-'}},
                                {{result.summaryByH[2].meanTime.toFixed(1) || '-'}},
                                {{result.summaryByH[2].maxTime.toFixed(1) || '-'}}
                            </td>
                            <td>
                                {{result.summaryByH[2].minIterations.toFixed(0) || '-'}},
                                {{result.summaryByH[2].meanIterations.toFixed(0) || '-'}},
                                {{result.summaryByH[2].maxIterations.toFixed(0) || '-'}}
                            </td>

                            <!-- H=3 -->
                            <td>{{result.summaryByH[3].count || 0}}</td>
                            <td>
                                {{result.summaryByH[3].minTime.toFixed(1) || '-'}},
                                {{result.summaryByH[3].meanTime.toFixed(1) || '-'}},
                                {{result.summaryByH[3].maxTime.toFixed(1) || '-'}}
                            </td>

                            <td>
                                {{result.summaryByH[3].minIterations.toFixed(0) || '-'}},
                                {{result.summaryByH[3].meanIterations.toFixed(0) || '-'}},
                                {{result.summaryByH[3].maxIterations.toFixed(0) || '-'}}
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- EDIT CONFIGURATION -->
                <div ng-show="editConfig" class="edit-config-container"
                     style="height:{{queensBoard.queens.length*60}}px;">

                    <h3>
                        Evaluation Configuration
                    </h3>

                    <form ng-submit="removeConfig($index)" ng-repeat="config in configurations track by $index">
                        {{$index+1}}.)
                        <input type="number" ng-model="config.sideMovesAllowed" title="Side moves allowed EACH restart"
                               min="0" max="999"/> side moves,
                        <input type="number" ng-model="config.restartsAllowed" title="Restarts allowed"
                               min="0" max="999"/> restarts,
                        <input type="number" min="0" max="999" ng-model="config.repeat"
                               title="How many times to repeat this config">
                        times.
                        <input type="submit" class="btn btn-link" value="Remove config"/>
                    </form>

                    <form ng-submit="addConfig(newConfig)">
                        {{configurations.length + 1}}.)
                        <input type="number" ng-model="newConfig.sideMovesAllowed"
                               title="Side moves allowed EACH restart"
                               min="0" max="99"/> side moves,
                        <input type="number" ng-model="newConfig.restartsAllowed" title="Restarts allowed"
                               min="0" max="999"/> restarts,
                        <input type="number" min="0" max="99" ng-model="newConfig.repeat"
                               title="How many times to repeat this config">
                        times.
                        <input type="submit" class="btn btn-primary" value="Add config"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="legend-item">
            <div class="cell">
                <img src="../img/queen-outline.png"/>
            </div>
            <span>Initial queen positions ({{queensBoard.initialH}} attacking pairs)</span>
        </div>
        <div class="legend-item" ng-class="{
             'queen-success': queensBoard.best === 0,
             'queen-excellent': queensBoard.best === 1,
             'queen-good': (queensBoard.best > 1 && queensBoard.best <= 3),
             'queen-fail': (queensBoard.best > 3)
         }">
            <div class="cell">
                <img src="../img/queen-full.png"/>
            </div>
            <span>
                Final ({{queensBoard.iterations}} tries,
                {{queensBoard.h}} attacking pairs -
                Took {{queensBoard | timespan:false}} ms
            </span>
        </div>
        <div class="legend-item">
            Legend:<br><br>
            <span class="queen-success">WIN!</span>
            <span class="queen-excellent">Great</span>
            <span class="queen-good">Fair</span>
            <span class="queen-fail">Yikes</span>
        </div>
    </div>
</div>

